Django
djangorestframework
djangorestframework-simplejwt
django-cors-headers
python-decouple
psycopg2-binary
celery
redis
django-filter
drf-spectacular
pgvector
pandas
scikit-learn
openpyxl
pillow
dj-database-url
gunicorn
whitenoise
ollama==0.2.1
anthropic==0.25.0
scipy
groq
